<div className="App">
    <div class="bg-gradient-to-tr from-blue-200 to-sky-100">
      <section
        id="login"
        class="p-4 flex flex-col justify-center min-h-screen max-w-md mx-auto"
      >
        <div class="p-6 bg-sky-50 rounded">
          <div class="flex items-center justify-center font-black m-3 mb-12">
            <h1 style="color:'#065666';font-family: 'Georgia, serif';" class="tracking-wide text-3xl text-gray-900">NEW WORLD</h1>
          </div>
          <div class="flex w-full items-center justify-center test-red-500">

            <div #errorMessage></div>
          </div>
          <form (ngSubmit)="onSubmit()"
           [formGroup]="signUpForm"
            class="flex flex-col justify-center"
          >
            <label class="text-sm font-medium text-sky-900">Name</label>
            <input
              class="mb-3 px-2 py-1.5
        mb-3 mt-1 block w-full px-2 py-1.5 border border-gray-300 rounded-md text-sm shadow-sm placeholder-gray-400
        focus:outline-none
        focus:border-sky-500
        focus:ring-1
        focus:ring-sky-500
        focus:invalid:border-red-500 focus:invalid:ring-red-500"
            (input)="StatusChange()"
              type="text"
              formControlName="name"
              placeholder="Enter name"
      
            />
            <span class="text-sm text-red-500" *ngIf="!signUpForm.get('name')?.valid &&  signUpForm.get('name')?.touched ">
             <span *ngIf="!signUpForm.get('name')?.errors?.['required']" > Please enter a valid name</span>
             <span *ngIf="!signUpForm.get('name')?.errors?.['minlength'] " > Name is required</span>
            </span>
     
            <label class="text-sm font-medium text-sky-900">Email</label>
            <input
              class="mb-3 px-2 py-1.5
        mb-3 mt-1 block w-full px-2 py-1.5 border border-gray-300 rounded-md text-sm shadow-sm placeholder-gray-400
        focus:outline-none
        focus:border-sky-500
        focus:ring-1
        focus:ring-sky-500
        focus:invalid:border-red-500 focus:invalid:ring-red-500"
              type="text"
              formControlName="email"
              placeholder="Enter  email"
            
            />
            <span class="text-sm text-red-500" *ngIf="!signUpForm.get('email')?.valid &&  signUpForm.get('email')?.touched ">
              <span *ngIf="signUpForm.get('email')?.errors?.['required']" > Email is required</span>
              <span *ngIf="signUpForm.get('email')?.errors?.['email']" >Please enter a valid email</span>
            </span>

      

            <label class="text-sm font-medium text-sky-900">Mobile Number</label>
            <input
              class="mb-3 px-2 py-1.5
        mb-3 mt-1 block w-full px-2 py-1.5 border border-gray-300 rounded-md text-sm shadow-sm placeholder-gray-400
        focus:outline-none
        focus:border-sky-500
        focus:ring-1
        focus:ring-sky-500
        focus:invalid:border-red-500 focus:invalid:ring-red-500"
              type="text"
              formControlName="mobile"
              placeholder="Enter  phone number"
             
            />
            <span class="text-sm text-red-500" *ngIf="!signUpForm.get('mobile')?.valid &&  signUpForm.get('mobile')?.touched ">
              <span *ngIf="signUpForm.get('mobile')?.errors?.['pattern']"  >Please enter a valid Mobile Number</span>
              <span *ngIf="signUpForm.get('mobile')?.errors?.['required']" >Moblie number is required</span>
            </span>


            <label class="text-sm font-medium text-sky-900">Password</label>
            <input
              class="mb-3 px-2 py-1.5
        mb-3 mt-1 block w-full px-2 py-1.5 border border-gray-300 rounded-md text-sm shadow-sm placeholder-gray-400
        focus:outline-none
        focus:border-sky-500
        focus:ring-1
        focus:ring-sky-500
        focus:invalid:border-red-500 focus:invalid:ring-red-500"
              type="password"
              formControlName="password"
              placeholder="Enter password"
             
            />
            <span class="text-sm text-red-500" *ngIf="!signUpForm.get('password')?.valid &&  signUpForm.get('password')?.touched ">
              <span *ngIf="signUpForm.get('password')?.errors?.['minlength']" >Please enter a valid Password</span>
              <span *ngIf="signUpForm.get('password')?.errors?.['required']">Password is required</span>
            </span>


           
            <button
            [disabled]="!submitStatus"
              class="mt-6 px-4 py-1.5 rounded-md shadow-lg bg-sky-700 font-medium text-gray-100 block transition duration-300"
              type="submit"
            >
              <span id="login_default_state">
               Register<span id="subtotal"></span>
              </span>
            </button>
          </form>
         

          <div class="mt-6 text-grey-dark">
            Already have an account?
           
              <span style="color: blue;">Login</span>
          
          </div>
        </div>
      </section>
    </div>
  </div>
